name: GraalVM Native Image builds
on: [push, pull_request]
jobs:
  build:
    name: mrpbuilder on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v4

      - uses: graalvm/setup-graalvm@v1
        with:
          version: '22.3.0'
          java-version: '17'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'

      - name: Build and run mrpbuilder
        run: |
          native-image -jar mrpbuilder.jar
          ./mrpbuilder
      
      - name: Upload binary
        uses: actions/upload-artifact@v2
        with:
          name: mrpbuilder-${{ matrix.os }}
          path: mrpbuilder*